@model PhotowalaWebsite.Models.Image


<body>

    <div id="colorlib-page">
        <a href="index" class="js-colorlib-nav-toggle colorlib-nav-toggle"><i></i></a>

        <div id="colorlib-main">
            <section class="ftco-section  ftco-bread">
                <div class="container">
                    <div class="row no-gutters slider-text align-items-center">
                        <div class="col-md-12 ftco-animate">
                            <p class="breadcrumbs"><span class="mr-2">Home</span> <span>About</span></p>
                            <h1 class="mb-3 bread"> <i>About Us</i></h1>
                            <h5>We are an experienced photographer</h5>
                            <p>
                                We provide a opportunities to the youth who seek their future in modeling and showing their talents of beauty and knowledge. We provide them service of makeup and we shoot their photos in our own studio. We get enclosed in different passion shows for it and provide our services.
                            </p>

                        </div>
                    </div>
                </div>
            </section>
            <section class="ftco-section-no-padding">
                <div class="hero-wrap">
                    <div class="overlay"></div>
                    <div class="d-flex">

                        <div class="author-image text img p-md-5 ftco-animate" style="background-image: url(/images/photoweb.jpg);width:500px;background-repeat:no-repeat">

                        </div>

                        <div class="author-info text p-4 mt-5 mb-5 ftco-animate">
                            <div class="desc">
                                <p>
                                    <i>
                                        Providing high-touch customer service. we take a personal approach to giving you the best photography and films available. Starting with getting to know you and your style, we collaborate to exceed your expectations so that every collection we deliver touches your heart, ignites your memories, and simply stands out from the crowd.

                                    </i>
                                </p>
                                <p>
                                    <i>
                                        Peoples are involved in different works and they even they have different function in their own life. They celebrate their different days and they want to make it as a memory so we captures their day and different event organised by people, organisations, companies etc.
                                    </i>
                                </p>
                                <p>
                                    <i>
                                        <a href="@Url.Action("Contact","home")">Want to know more ??</a>
                                    </i>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <footer class="ftco-footer ftco-bg-dark ftco-section">
                <div class="container px-md-5">
                    <div class="row mb-5">


                        <div class="col-md-8">
                            <div class="ftco-footer-widget mb-4">
                                <h2 class="ftco-heading-2">Have any Questions?</h2>
                                <div class="block-23 mb-3">
                                    <ul>
                                        <li><span class="icon icon-map-marker"></span><span class="text">16 / 1 Gregory Hills Dr, Gregory Hills NSW 2557,Sydney  Australia</span></li>
                                        <li><a><span class="icon icon-phone"></span><span class="text">0423735856</span></a></li>
                                        <li><a><span class="icon icon-envelope"></span><span class="text">nabinchautariya@gmail.com</span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <a class="btn btn-outline-primary mt-lg-5" href="@Url.Action("Contact","home")">Contact Us</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <hr class="bg-primary" />
                            <p class="text-center">
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                Copyright &copy;
                                <script>document.write(new Date().getFullYear());</script> All rights reserved <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Subha Weddings</a>

                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            </p>
                            <h6 class="text-center">Designed And Powered by :- <span>Binet Technology</span></h6>
                        </div>
                    </div>
                </div>
            </footer>
        </div><!-- END COLORLIB-MAIN -->
    </div><!-- END COLORLIB-PAGE -->
    <!-- loader -->
    

    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery.easing.1.3.js"></script>
    <script src="~/js/jquery.waypoints.min.js"></script>
    <script src="~/js/jquery.stellar.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/jquery.magnific-popup.min.js"></script>
    <script src="~/js/aos.js"></script>
    <script src="~/js/jquery.animateNumber.min.js"></script>
    <script src="~/js/bootstrap-datepicker.js"></script>
    <script src="~/js/jquery.timepicker.min.js"></script>
    <script src="~/js/scrollax.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
    <script src="~/js/google-map.js"></script>
    <script src="~/js/main.js"></script>

</body>

