@model IEnumerable<PhotowalaWebsite.Models.Review>

@{
    Layout = null;
}


        <h1 class="mb-3 bread justify-content-center"> <i>User Review</i></h1>


        <style>
            .container {
                border: 2px solid #ccc;
                background-color: #eee;
                border-radius: 5px;
                padding: 16px;
                margin: 16px;
                position: center;
            }

                .container::after {
                    content: "";
                    clear: both;
                    display: table;
                }

                .container img {
                    float: left;
                    margin-right: 20px;
                    border-radius: 50%;
                }

                .container span {
                    font-size: 20px;
                    margin-right: 15px;
                }

            @@media (max-width: 500px) {
                .container {
                    text-align: center;
                }

                    .container img {
                        margin: auto;
                        float: none;
                        display: block;
                    }
            }
        </style>

        <div class="container">
            @foreach (var items in Model)
            {<img src="@items.ImagePath" alt="Avatar" style="width:90px" />
             <p>
                 <span>
                     @Html.DisplayFor(modelItem => items.Name)
                    
                 </span> 
             </p>
                <p>
                    @Html.DisplayFor(modelItem=>items.Description)
                </p>
            }

        </div>

        
   
