
@{
    ViewBag.Title = "Dashbord";
}

<h2>Dashbord</h2>

<ul>
    <li>Image/home/gallery</li>
    <li>About </li>
    <li> contact</li>
    <li>Blog</li>
    <li>Register</li>
    <li>Login</li>
    <li>Navbar</li>
    <li></li>
</ul>
